<a href="https://colab.research.google.com/github/madhuselvaraj/tensorflow_projects/blob/master/titanic_convolution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Here we are goinng to deal with a dataset of the people who travelled in  titanic and predict which people we likely to survive in it.

import files.

In [0]:
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
import io
import numpy as np

upload training dataset file 'train.csv' in google colab from local

In [2]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train (1).csv

In [0]:
train_df = pd.read_csv(io.BytesIO(uploaded['train.csv']))

upload test dataset file 'test.csv' in google colab from local

In [4]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
test_df = pd.read_csv(io.BytesIO(uploaded['test.csv']))

check for the features we have in train and test datasets

In [6]:
print(train_df.columns.values)
print(test_df.columns.values)

['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']
['PassengerId' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch' 'Ticket' 'Fare'
 'Cabin' 'Embarked']

Droping Ticket' and 'Cabin' features as they are not exactly needed for training.

In [0]:
train_df = train_df.drop(['Ticket', 'Cabin'], axis=1)
test_df = test_df.drop(['Ticket', 'Cabin'], axis=1)
combine = [train_df, test_df]

In [9]:
"After", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape

('After', (891, 10), (418, 9), (891, 10), (418, 9))

Adding a column called 'Title' through extracting the surname from the name column.
Calculating the 'Sex' column  for each row of 'Title'

In [10]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_df['Title'], train_df['Sex'])

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

Replacing the values of 'Title' column with  maximum repeated ones.

In [0]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col',\
 	'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona'], 'others')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

Grouping the "Title" and "Survived " column for calulating the preferences which were given.

In [12]:
train_df[['Title', 'Survived']].groupby(['Title'], as_index=False).mean()

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4  others  0.347826

From this we can  see that women and children were given preferences than others.

replacing it with digits.

In [0]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

In [14]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Fare,Embarked,Title
0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,71.2833,C,3.0
1,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,7.9250,S,2.0
2,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,53.1000,S,3.0
3,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,11.1333,S,3.0
4,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,30.0708,C,3.0

Droping 'Name' and 'PassengerId' features as they are not exactly needed for training.

In [15]:
train_df = train_df.drop(['Name','PassengerId'],axis = 1)
test_df = test_df.drop(['Name'],axis = 1)
combine = [train_df, test_df]
train_df.shape, test_df.shape

((891, 9), (418, 9))

In [16]:
train_df.tail()

     Survived  Pclass   Sex   Age  SibSp  Parch     Fare Embarked  Title
886         0       3  male  33.0      0      0   7.8958        S    1.0
887         0       2  male  28.0      0      0  10.5000        S    1.0
888         0       3  male  25.0      0      0   7.0500        S    1.0
889         0       2  male  27.0      0      0  13.0000        S    0.0
890         0       3  male  32.0      0      0   7.7500        Q    1.0

Replacing 'male' with '0' and 'female' with '1'.

In [0]:
sex_mapping ={'male':0,'female':1}
for dataset in combine:
  dataset['Sex'] = dataset['Sex'].map(sex_mapping).astype(int)

In [18]:
train_df.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare Embarked  Title
0         1       1    1  38.0      1      0  71.2833        C    3.0
1         1       3    1  26.0      0      0   7.9250        S    2.0
2         1       1    1  35.0      1      0  53.1000        S    3.0
3         1       3    1  27.0      0      2  11.1333        S    3.0
4         1       2    1  14.0      1      0  30.0708        C    3.0

Replacing null in 'Age' column with an average value.

In [19]:
guess_ages = np.zeros((2,3))
guess_ages

array([[0., 0., 0.],
       [0., 0., 0.]])

In [20]:
for dataset in combine:
    for i in range(0, 2):
        for j in range(0, 3):
            guess_df = dataset[(dataset['Sex'] == i) & \
                                  (dataset['Pclass'] == j+1)]['Age'].dropna()

            # age_mean = guess_df.mean()
            # age_std = guess_df.std()
            # age_guess = rnd.uniform(age_mean - age_std, age_mean + age_std)

            age_guess = guess_df.median()

            # Convert random age float to nearest .5 age
            guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5
            
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[ (dataset.Age.isnull()) & (dataset.Sex == i) & (dataset.Pclass == j+1),\
                    'Age'] = guess_ages[i,j]

    dataset['Age'] = dataset['Age'].astype(int)

train_df.head()

   Survived  Pclass  Sex  Age  SibSp  Parch     Fare Embarked  Title
0         1       1    1   38      1      0  71.2833        C    3.0
1         1       3    1   26      0      0   7.9250        S    2.0
2         1       1    1   35      1      0  53.1000        S    3.0
3         1       3    1   27      0      2  11.1333        S    3.0
4         1       2    1   14      1      0  30.0708        C    3.0

Adding 'AgeBand' column.

In [21]:
train_df['AgeBand'] = pd.cut(train_df['Age'], 5)
train_df[['AgeBand', 'Survived']].groupby(['AgeBand'], as_index=False).mean().sort_values(by='AgeBand', ascending=True)

         AgeBand  Survived
0  (-0.08, 16.0]  0.550000
1   (16.0, 32.0]  0.337374
2   (32.0, 48.0]  0.412037
3   (48.0, 64.0]  0.434783
4   (64.0, 80.0]  0.090909

Replacing Age with 0,1,2,3 inorder to increase the training efficiency.

In [22]:
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age']
train_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked,Title,AgeBand
0,1,1,1,2,1,0,71.2833,C,3.0,"(32.0, 48.0]"
1,1,3,1,1,0,0,7.9250,S,2.0,"(16.0, 32.0]"
2,1,1,1,2,1,0,53.1000,S,3.0,"(32.0, 48.0]"
3,1,3,1,1,0,2,11.1333,S,3.0,"(16.0, 32.0]"
4,1,2,1,0,1,0,30.0708,C,3.0,"(-0.08, 16.0]"

Adding a column 'FamilySize' denoting size of family

In [23]:
for dataset in combine:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch'] + 1

train_df[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           4  0.724138
2           3  0.578431
1           2  0.552795
6           7  0.333333
0           1  0.303538
4           5  0.200000
5           6  0.136364
7           8  0.000000
8          11  0.000000

we can analize the probability of survived if the person is alone through a column 'IsAlone'

In [24]:
for dataset in combine:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 1, 'IsAlone'] = 1

train_df[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

Droping 'Parch' , 'SibSp', 'FamilySize'  and 'AgeBand' features as they are not exactly needed for training.

In [25]:
train_df = train_df.drop(['Parch', 'SibSp', 'FamilySize','AgeBand'], axis=1)
test_df = test_df.drop(['Parch', 'SibSp', 'FamilySize'], axis=1)
combine = [train_df, test_df]
train_df.head()

   Survived  Pclass  Sex  Age     Fare Embarked  Title  IsAlone
0         1       1    1    2  71.2833        C    3.0        0
1         1       3    1    1   7.9250        S    2.0        1
2         1       1    1    2  53.1000        S    3.0        0
3         1       3    1    1  11.1333        S    3.0        0
4         1       2    1    0  30.0708        C    3.0        0

Creating a new column through combining Age and Pclass.

In [0]:
for dataset in combine:
    dataset['Age*Class'] = dataset.Age * dataset.Pclass

check for frequent Embarked and replace it for null values.

In [27]:
freq_port = train_df.Embarked.dropna().mode()[0]
freq_port

'S'

In [28]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna(freq_port)
    dataset['Embarked'] = dataset['Embarked'].map( {'S': 2, 'C': 0, 'Q': 1} ).astype(int)

train_df.head()

   Survived  Pclass  Sex  Age     Fare  Embarked  Title  IsAlone  Age*Class
0         1       1    1    2  71.2833         0    3.0        0          2
1         1       3    1    1   7.9250         2    2.0        1          3
2         1       1    1    2  53.1000         2    3.0        0          2
3         1       3    1    1  11.1333         2    3.0        0          3
4         1       2    1    0  30.0708         0    3.0        0          0

Convert the fare values to single digit through median.

In [29]:
test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)
test_df.head()

   PassengerId  Pclass  Sex  Age     Fare  Embarked  Title  IsAlone  Age*Class
0          892       3    0    2   7.8292         1    1.0        1          6
1          893       3    1    2   7.0000         2    3.0        0          6
2          894       2    0    3   9.6875         1    1.0        1          6
3          895       3    0    1   8.6625         2    1.0        1          3
4          896       3    1    1  12.2875         2    3.0        0          3

Replace the values of "FareBand" with 0,1,2,3

In [30]:
train_df['FareBand'] = pd.qcut(train_df['Fare'], 4)
train_df[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

          FareBand  Survived
0   (-0.001, 7.91]  0.197309
1   (7.91, 14.454]  0.303571
2   (14.454, 31.0]  0.454955
3  (31.0, 512.329]  0.581081

In [31]:
for dataset in combine:    
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31.0), 'Fare'] = 2
    dataset.loc[(dataset['Fare'] > 31.0) & (dataset['Fare'] <= 512.329), 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)
    
train_df = train_df.drop(['FareBand'], axis=1)
combine = [train_df, test_df]
train_df.head(10)

   Survived  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class
0         1       1    1    2     3         0    3.0        0          2
1         1       3    1    1     1         2    2.0        1          3
2         1       1    1    2     3         2    3.0        0          2
3         1       3    1    1     1         2    3.0        0          3
4         1       2    1    0     2         0    3.0        0          0
5         1       3    1    0     2         2    2.0        0          0
6         1       1    1    3     2         2    2.0        1          3
7         1       2    1    3     2         2    3.0        1          6
8         1       3    1    1     0         0    3.0        1          3
9         1       3    1    0     1         1    2.0        1          0

Droping 'Survived' and 'PassengerId' features as they are not exactly needed for training and testing

In [32]:
X_train = train_df.drop("Survived", axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop("PassengerId", axis=1).copy()
X_train.shape, Y_train.shape, X_test.shape

((891, 8), (891,), (418, 8))

In [33]:
print(X_train.columns.values)

['Pclass' 'Sex' 'Age' 'Fare' 'Embarked' 'Title' 'IsAlone' 'Age*Class']

In [34]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.fit_transform(X_test)

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/data.py:645: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
/usr/local/lib/python3.6/dist-packages/sklearn/base.py:464: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

define model

In [35]:
model = tf.keras.models.Sequential([
    tf.keras.layers.Dense(7, activation='relu',input_dim = 8),
    tf.keras.layers.Dense(3, activation='relu'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])

model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['acc'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/resource_variable_ops.py:435: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.

In [36]:
model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 7)                 63
_________________________________________________________________
dense_1 (Dense)              (None, 3)                 24
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 4
=================================================================
Total params: 91
Trainable params: 91
Non-trainable params: 0
_________________________________________________________________

In [37]:
model.fit(X_train, Y_train,epochs = 100)

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
891/891 [==============================] - 0s 217us/sample - loss: 0.7891 - acc: 0.4097
Epoch 2/100
891/891 [==============================] - 0s 41us/sample - loss: 0.7253 - acc: 0.4792
Epoch 3/100
891/891 [==============================] - 0s 43us/sample - loss: 0.6841 - acc: 0.5937
Epoch 4/100
891/891 [==============================] - 0s 42us/sample - loss: 0.6600 - acc: 0.6869
Epoch 5/100
891/891 [==============================] - 0s 39us/sample - loss: 0.6423 - acc: 0.7116
Epoch 6/100
891/891 [==============================] - 0s 40us/sample - loss: 0.6276 - acc: 0.7486
Epoch 7/100
891/891 [==============================] - 0s 42us/sample - loss: 0.6144 - acc: 0.7587
Epoch 8/100
891/891 [==============================] - 0s 49us/sample - loss: 0.6012 - acc: 0.7733
Epoch 9/100
891/891 [==============================] - 0s 43us/sample - loss: 0.5856 - acc: 0.7722
Epoch 10/100
891/891 [==============================] - 0s 39us/sample - loss: 0.5582 - acc: 0.7823
Epoch 11/100
891/891 [==============================] - 0s 42us/sample - loss: 0.5293 - acc: 0.7935
Epoch 12/100
891/891 [==============================] - 0s 38us/sample - loss: 0.5056 - acc: 0.7980
Epoch 13/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4869 - acc: 0.7924
Epoch 14/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4721 - acc: 0.7935
Epoch 15/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4611 - acc: 0.7946
Epoch 16/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4530 - acc: 0.7957
Epoch 17/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4462 - acc: 0.7969
Epoch 18/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4414 - acc: 0.8036
Epoch 19/100
891/891 [==============================] - 0s 49us/sample - loss: 0.4374 - acc: 0.8036
Epoch 20/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4341 - acc: 0.8092
Epoch 21/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4316 - acc: 0.8081
Epoch 22/100
891/891 [==============================] - 0s 45us/sample - loss: 0.4298 - acc: 0.8047
Epoch 23/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4280 - acc: 0.8081
Epoch 24/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4265 - acc: 0.8126
Epoch 25/100
891/891 [==============================] - 0s 47us/sample - loss: 0.4249 - acc: 0.8070
Epoch 26/100
891/891 [==============================] - 0s 47us/sample - loss: 0.4241 - acc: 0.8148
Epoch 27/100
891/891 [==============================] - 0s 47us/sample - loss: 0.4224 - acc: 0.8126
Epoch 28/100
891/891 [==============================] - 0s 45us/sample - loss: 0.4220 - acc: 0.8126
Epoch 29/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4211 - acc: 0.8114
Epoch 30/100
891/891 [==============================] - 0s 48us/sample - loss: 0.4198 - acc: 0.8126
Epoch 31/100
891/891 [==============================] - 0s 49us/sample - loss: 0.4192 - acc: 0.8114
Epoch 32/100
891/891 [==============================] - 0s 49us/sample - loss: 0.4188 - acc: 0.8114
Epoch 33/100
891/891 [==============================] - 0s 53us/sample - loss: 0.4184 - acc: 0.8103
Epoch 34/100
891/891 [==============================] - 0s 43us/sample - loss: 0.4175 - acc: 0.8103
Epoch 35/100
891/891 [==============================] - 0s 54us/sample - loss: 0.4180 - acc: 0.8025
Epoch 36/100
891/891 [==============================] - 0s 49us/sample - loss: 0.4168 - acc: 0.8103
Epoch 37/100
891/891 [==============================] - 0s 47us/sample - loss: 0.4166 - acc: 0.8114
Epoch 38/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4158 - acc: 0.8092
Epoch 39/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4157 - acc: 0.8114
Epoch 40/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4156 - acc: 0.8103
Epoch 41/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4155 - acc: 0.8126
Epoch 42/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4149 - acc: 0.8137
Epoch 43/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4148 - acc: 0.8126
Epoch 44/100
891/891 [==============================] - 0s 44us/sample - loss: 0.4143 - acc: 0.8126
Epoch 45/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4142 - acc: 0.8137
Epoch 46/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4141 - acc: 0.8126
Epoch 47/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4142 - acc: 0.8126
Epoch 48/100
891/891 [==============================] - 0s 43us/sample - loss: 0.4135 - acc: 0.8137
Epoch 49/100
891/891 [==============================] - 0s 43us/sample - loss: 0.4136 - acc: 0.8126
Epoch 50/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4132 - acc: 0.8126
Epoch 51/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4129 - acc: 0.8126
Epoch 52/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4129 - acc: 0.8126
Epoch 53/100
891/891 [==============================] - 0s 37us/sample - loss: 0.4125 - acc: 0.8126
Epoch 54/100
891/891 [==============================] - 0s 44us/sample - loss: 0.4124 - acc: 0.8126
Epoch 55/100
891/891 [==============================] - 0s 43us/sample - loss: 0.4126 - acc: 0.8126
Epoch 56/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4123 - acc: 0.8126
Epoch 57/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4123 - acc: 0.8126
Epoch 58/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4120 - acc: 0.8137
Epoch 59/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4116 - acc: 0.8137
Epoch 60/100
891/891 [==============================] - 0s 43us/sample - loss: 0.4128 - acc: 0.8081
Epoch 61/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4114 - acc: 0.8114
Epoch 62/100
891/891 [==============================] - 0s 47us/sample - loss: 0.4113 - acc: 0.8126
Epoch 63/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4111 - acc: 0.8148
Epoch 64/100
891/891 [==============================] - 0s 43us/sample - loss: 0.4113 - acc: 0.8126
Epoch 65/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4109 - acc: 0.8137
Epoch 66/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4109 - acc: 0.8126
Epoch 67/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4106 - acc: 0.8137
Epoch 68/100
891/891 [==============================] - 0s 37us/sample - loss: 0.4106 - acc: 0.8114
Epoch 69/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4107 - acc: 0.8137
Epoch 70/100
891/891 [==============================] - 0s 46us/sample - loss: 0.4107 - acc: 0.8148
Epoch 71/100
891/891 [==============================] - 0s 37us/sample - loss: 0.4102 - acc: 0.8126
Epoch 72/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4105 - acc: 0.8137
Epoch 73/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4101 - acc: 0.8148
Epoch 74/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4102 - acc: 0.8159
Epoch 75/100
891/891 [==============================] - 0s 47us/sample - loss: 0.4099 - acc: 0.8148
Epoch 76/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4099 - acc: 0.8148
Epoch 77/100
891/891 [==============================] - 0s 37us/sample - loss: 0.4101 - acc: 0.8137
Epoch 78/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4102 - acc: 0.8114
Epoch 79/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4095 - acc: 0.8137
Epoch 80/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4096 - acc: 0.8148
Epoch 81/100
891/891 [==============================] - 0s 36us/sample - loss: 0.4094 - acc: 0.8137
Epoch 82/100
891/891 [==============================] - 0s 42us/sample - loss: 0.4097 - acc: 0.8148
Epoch 83/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4096 - acc: 0.8148
Epoch 84/100
891/891 [==============================] - 0s 37us/sample - loss: 0.4093 - acc: 0.8137
Epoch 85/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4094 - acc: 0.8148
Epoch 86/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4092 - acc: 0.8137
Epoch 87/100
891/891 [==============================] - 0s 38us/sample - loss: 0.4092 - acc: 0.8148
Epoch 88/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4090 - acc: 0.8137
Epoch 89/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4094 - acc: 0.8148
Epoch 90/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4085 - acc: 0.8126
Epoch 91/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4087 - acc: 0.8193
Epoch 92/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4078 - acc: 0.8227
Epoch 93/100
891/891 [==============================] - 0s 45us/sample - loss: 0.4070 - acc: 0.8227
Epoch 94/100
891/891 [==============================] - 0s 37us/sample - loss: 0.4066 - acc: 0.8227
Epoch 95/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4064 - acc: 0.8227
Epoch 96/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4070 - acc: 0.8215
Epoch 97/100
891/891 [==============================] - 0s 39us/sample - loss: 0.4051 - acc: 0.8238
Epoch 98/100
891/891 [==============================] - 0s 40us/sample - loss: 0.4051 - acc: 0.8238
Epoch 99/100
891/891 [==============================] - 0s 44us/sample - loss: 0.4048 - acc: 0.8238
Epoch 100/100
891/891 [==============================] - 0s 41us/sample - loss: 0.4044 - acc: 0.8238

In [38]:
Y_test = model.predict(X_test).tolist()
print(Y_test)

[[0.10615497827529907], [0.2687098979949951], [0.10414844751358032], [0.11898016929626465], [0.3106449246406555], [0.11244446039199829], [0.6044382452964783], [0.06381285190582275], [0.8260296583175659], [0.06035998463630676], [0.11457443237304688], [0.2809443473815918], [0.9820896983146667], [0.048752039670944214], [0.977138876914978], [0.9636873006820679], [0.10714593529701233], [0.10485801100730896], [0.3084224462509155], [0.6512019038200378], [0.3544394075870514], [0.38441523909568787], [0.9588692784309387], [0.5317372679710388], [0.9875678420066833], [0.05289599299430847], [0.9907152056694031], [0.10485801100730896], [0.2809443473815918], [0.05858886241912842], [0.048752039670944214], [0.06597590446472168], [0.26649558544158936], [0.3135101795196533], [0.5317372679710388], [0.10485801100730896], [0.48826730251312256], [0.48826730251312256], [0.11898016929626465], [0.12823212146759033], [0.05267438292503357], [0.2809443473815918], [0.10766664147377014], [0.8985236883163452], [0.977138876914978], [0.11898016929626465], [0.3963952958583832], [0.10705125331878662], [0.9754139184951782], [0.26649558544158936], [0.39777854084968567], [0.17774227261543274], [0.9032349586486816], [0.9797976016998291], [0.17774227261543274], [0.4155837893486023], [0.10766664147377014], [0.11457443237304688], [0.06035998463630676], [0.9782329797744751], [0.11457443237304688], [0.11141172051429749], [0.11457443237304688], [0.6044382452964783], [0.9549861550331116], [0.8955460786819458], [0.6044382452964783], [0.28652501106262207], [0.5039056539535522], [0.971232533454895], [0.6044382452964783], [0.11457443237304688], [0.48826730251312256], [0.5039056539535522], [0.9782329797744751], [0.5061728358268738], [0.11898016929626465], [0.9706802368164062], [0.11141172051429749], [0.6044382452964783], [0.4605652093887329], [0.017347365617752075], [0.21562695503234863], [0.11457443237304688], [0.1295132339000702], [0.05858886241912842], [0.6044382452964783], [0.48826730251312256], [0.6044382452964783], [0.6948631405830383], [0.3106449246406555], [0.11457443237304688], [0.9820896983146667], [0.11898016929626465], [0.5039056539535522], [0.11457443237304688], [0.24427422881126404], [0.11898016929626465], [0.4954712986946106], [0.1118403971195221], [0.9875678420066833], [0.06381285190582275], [0.10705125331878662], [0.11457443237304688], [0.7951513528823853], [0.1235317587852478], [0.10705125331878662], [0.10705125331878662], [0.11898016929626465], [0.11141172051429749], [0.10802054405212402], [0.6044382452964783], [0.9782329797744751], [0.6044382452964783], [0.971232533454895], [0.05858886241912842], [0.10485801100730896], [0.4812464416027069], [0.4028840661048889], [0.9202408194541931], [0.9231832027435303], [0.054865360260009766], [0.9875678420066833], [0.11457443237304688], [0.10705125331878662], [0.30639946460723877], [0.11457443237304688], [0.3415663540363312], [0.10830938816070557], [0.11898016929626465], [0.11898016929626465], [0.1948661208152771], [0.3135101795196533], [0.05405008792877197], [0.10766664147377014], [0.11457443237304688], [0.10485801100730896], [0.11141172051429749], [0.48826730251312256], [0.05883362889289856], [0.48102107644081116], [0.9474883079528809], [0.3544394075870514], [0.11474394798278809], [0.2809443473815918], [0.06035998463630676], [0.28652501106262207], [0.11898016929626465], [0.2809443473815918], [0.033754557371139526], [0.9903357028961182], [0.10485801100730896], [0.10916358232498169], [0.2670319676399231], [0.3658037781715393], [0.11457443237304688], [0.9635144472122192], [0.4954712986946106], [0.2809443473815918], [0.3106449246406555], [0.6044382452964783], [0.4605652093887329], [0.8445677757263184], [0.11457443237304688], [0.06509396433830261], [0.3135101795196533], [0.4028840661048889], [0.062828928232193], [0.983241856098175], [0.48826730251312256], [0.11457443237304688], [0.10485801100730896], [0.057982027530670166], [0.10485801100730896], [0.05883362889289856], [0.9499058127403259], [0.8359141945838928], [0.3544394075870514], [0.8528668880462646], [0.9840199947357178], [0.11141172051429749], [0.4383087456226349], [0.9820896983146667], [0.10705125331878662], [0.9903357028961182], [0.11156049370765686], [0.9032349586486816], [0.057982027530670166], [0.3043839633464813], [0.10830938816070557], [0.05222618579864502], [0.2809443473815918], [0.37196624279022217], [0.10414844751358032], [0.7014772891998291], [0.10766664147377014], [0.9549861550331116], [0.4954712986946106], [0.11141172051429749], [0.5655443072319031], [0.5889227390289307], [0.3781706690788269], [0.2754017114639282], [0.9497096538543701], [0.11141172051429749], [0.3963952958583832], [0.4792405366897583], [0.11141172051429749], [0.9784533977508545], [0.11457443237304688], [0.1235317587852478], [0.11457443237304688], [0.11816254258155823], [0.7377033233642578], [0.3008278012275696], [0.28652501106262207], [0.6044382452964783], [0.2464129626750946], [0.9840199947357178], [0.11898016929626465], [0.9584912061691284], [0.11898016929626465], [0.8985236883163452], [0.11457443237304688], [0.975662112236023], [0.537257969379425], [0.11457443237304688], [0.6044382452964783], [0.11615481972694397], [0.10830938816070557], [0.17616096138954163], [0.9638782143592834], [0.0556921660900116], [0.10705125331878662], [0.4383087456226349], [0.11457443237304688], [0.3544394075870514], [0.10485801100730896], [0.9012999534606934], [0.9875678420066833], [0.975662112236023], [0.8528399467468262], [0.4383087456226349], [0.11457443237304688], [0.33444923162460327], [0.3172836899757385], [0.8955460786819458], [0.054019153118133545], [0.9202408194541931], [0.537257969379425], [0.9497096538543701], [0.11898016929626465], [0.5317372679710388], [0.11898016929626465], [0.11898016929626465], [0.11457443237304688], [0.10705125331878662], [0.11898016929626465], [0.8445677757263184], [0.11457443237304688], [0.05651223659515381], [0.11457443237304688], [0.9202408194541931], [0.4814718961715698], [0.17564532160758972], [0.11457443237304688], [0.2699841856956482], [0.11457443237304688], [0.48826730251312256], [0.11898016929626465], [0.4028840661048889], [0.10705125331878662], [0.9903357028961182], [0.3415663540363312], [0.10485801100730896], [0.9032349586486816], [0.11141172051429749], [0.05222618579864502], [0.06381285190582275], [0.11141172051429749], [0.48826730251312256], [0.3781706690788269], [0.6044382452964783], [0.6945796608924866], [0.4812464416027069], [0.10766664147377014], [0.11457443237304688], [0.39777854084968567], [0.10485801100730896], [0.11898016929626465], [0.28652501106262207], [0.6044382452964783], [0.10485801100730896], [0.12628111243247986], [0.1118403971195221], [0.11457443237304688], [0.9784382581710815], [0.05858886241912842], [0.3635936975479126], [0.11457443237304688], [0.11457443237304688], [0.17774227261543274], [0.05222618579864502], [0.11898016929626465], [0.6044382452964783], [0.9706802368164062], [0.39777854084968567], [0.3781706690788269], [0.2464129626750946], [0.2670319676399231], [0.11898016929626465], [0.10485801100730896], [0.11457443237304688], [0.4792405366897583], [0.9754139184951782], [0.6044382452964783], [0.3544394075870514], [0.11141172051429749], [0.11457443237304688], [0.06597590446472168], [0.11457443237304688], [0.10485801100730896], [0.11141172051429749], [0.2809443473815918], [0.9474883079528809], [0.11457443237304688], [0.9499058127403259], [0.4028840661048889], [0.06381285190582275], [0.11141172051429749], [0.8528668880462646], [0.3963952958583832], [0.10485801100730896], [0.537257969379425], [0.11457443237304688], [0.35739678144454956], [0.11141172051429749], [0.05058291554450989], [0.11816254258155823], [0.4619278907775879], [0.11141172051429749], [0.11457443237304688], [0.062828928232193], [0.9997273683547974], [0.33444923162460327], [0.7182254791259766], [0.11141172051429749], [0.6512019038200378], [0.11141172051429749], [0.8402884602546692], [0.9875678420066833], [0.11141172051429749], [0.11816254258155823], [0.05048787593841553], [0.4812464416027069], [0.21562695503234863], [0.971232533454895], [0.11457443237304688], [0.10705125331878662], [0.3135101795196533], [0.3658037781715393], [0.9645649194717407], [0.8955460786819458], [0.11898016929626465], [0.9903357028961182], [0.3170126676559448], [0.05858886241912842], [0.47566676139831543], [0.9875678420066833], [0.17564532160758972], [0.06171602010726929], [0.9850243330001831], [0.2064831256866455], [0.10830938816070557], [0.971232533454895], [0.9782329797744751], [0.3084224462509155], [0.11141172051429749], [0.22030767798423767], [0.3658037781715393], [0.10705125331878662], [0.10705125331878662], [0.5584492087364197], [0.3135101795196533], [0.11141172051429749], [0.9051361083984375], [0.11457443237304688], [0.10528314113616943], [0.10705125331878662], [0.37196624279022217], [0.3635936975479126], [0.971232533454895], [0.37196624279022217], [0.10830938816070557], [0.06035998463630676], [0.9820896983146667], [0.10705125331878662], [0.9875678420066833], [0.11457443237304688], [0.10705125331878662], [0.9635144472122192], [0.05222618579864502], [0.9907152056694031], [0.3635936975479126], [0.43156003952026367], [0.17564532160758972], [0.06171602010726929], [0.3544394075870514], [0.6044382452964783], [0.4814718961715698], [0.6044382452964783], [0.9830819368362427], [0.4954712986946106], [0.11898016929626465], [0.9625406265258789], [0.10766664147377014], [0.11898022145032883], [0.3906998336315155]]

In [39]:
for newdataset in combine:
   
    newdataset['test_survived'] = pd.Series(Y_test)
    newdataset['test_survived'] = newdataset['test_survived'].str.get(0)
    print(newdataset)

     Survived  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class  \
0           1       1    1    2     3         0    3.0        0          2
1           1       3    1    1     1         2    2.0        1          3
2           1       1    1    2     3         2    3.0        0          2
3           1       3    1    1     1         2    3.0        0          3
4           1       2    1    0     2         0    3.0        0          0
5           1       3    1    0     2         2    2.0        0          0
6           1       1    1    3     2         2    2.0        1          3
7           1       2    1    3     2         2    3.0        1          6
8           1       3    1    1     0         0    3.0        1          3
9           1       3    1    0     1         1    2.0        1          0
10          1       3    1    2     3         2    3.0        0          6
11          1       3    1    1     0         1    2.0        1          3
12          1       1    1    2     3         0    3.0        0          2
13          1       3    1    1     0         1    2.0        1          3
14          1       3    1    0     1         0    2.0        0          0
15          1       2    1    0     3         0    2.0        0          0
16          1       3    1    1     0         1    2.0        1          3
17          1       3    1    1     0         1    2.0        1          3
18          1       1    1    3     3         0    3.0        0          3
19          1       2    1    1     2         2    3.0        0          2
20          1       2    1    1     1         2    2.0        1          2
21          1       2    1    0     2         2    2.0        0          0
22          1       1    1    2     3         2    2.0        1          2
23          1       2    1    1     1         2    3.0        1          2
24          1       3    1    1     1         2    2.0        0          3
25          1       3    1    1     1         2    2.0        1          3
26          1       3    1    1     0         1    2.0        1          3
27          1       2    1    1     1         2    2.0        1          2
28          1       3    1    2     2         2    3.0        0          6
29          1       1    1    1     3         2    2.0        0          1
..        ...     ...  ...  ...   ...       ...    ...      ...        ...
861         0       3    0    1     1         2    1.0        1          3
862         0       3    0    1     1         2    1.0        1          3
863         0       3    0    1     1         2    1.0        1          3
864         0       3    0    1     1         2    1.0        1          3
865         0       2    0    0     1         2    1.0        1          0
866         0       3    0    2     0         0    1.0        1          6
867         0       3    0    1     1         2    1.0        1          3
868         0       3    0    2     0         2    1.0        1          6
869         0       3    0    1     3         2    1.0        0          3
870         0       3    0    2     0         0    1.0        1          6
871         0       2    0    1     3         2    0.0        0          2
872         0       3    0    0     3         2    4.0        0          0
873         0       3    0   74     0         2    1.0        1        222
874         0       3    0    1     0         0    1.0        1          3
875         0       3    0    2     1         2    1.0        0          6
876         0       2    0    1     1         2    1.0        0          2
877         0       2    0    1     1         2    1.0        1          2
878         0       1    0    1     3         2    1.0        1          1
879         0       3    0    1     1         2    1.0        1          3
880         0       3    0    1     0         2    1.0        1          3
881         0       1    0    2     0         2    1.0        1          2
882         0       3    0    2     1         2    1.0        1          6
883         0       3    0    1     1         2    1.0        1          3
884         0       3    0    1     0         2    1.0        1          3
885         0       3    0    1     0         2    1.0        1          3
886         0       3    0    2     0         2    1.0        1          6
887         0       2    0    1     1         2    1.0        1          2
888         0       3    0    1     0         2    1.0        1          3
889         0       2    0    1     1         2    0.0        1          2
890         0       3    0    1     0         1    1.0        1          3

     test_survived
0         0.106155
1         0.268710
2         0.104148
3         0.118980
4         0.310645
5         0.112444
6         0.604438
7         0.063813
8         0.826030
9         0.060360
10        0.114574
11        0.280944
12        0.982090
13        0.048752
14        0.977139
15        0.963687
16        0.107146
17        0.104858
18        0.308422
19        0.651202
20        0.354439
21        0.384415
22        0.958869
23        0.531737
24        0.987568
25        0.052896
26        0.990715
27        0.104858
28        0.280944
29        0.058589
..             ...
861            NaN
862            NaN
863            NaN
864            NaN
865            NaN
866            NaN
867            NaN
868            NaN
869            NaN
870            NaN
871            NaN
872            NaN
873            NaN
874            NaN
875            NaN
876            NaN
877            NaN
878            NaN
879            NaN
880            NaN
881            NaN
882            NaN
883            NaN
884            NaN
885            NaN
886            NaN
887            NaN
888            NaN
889            NaN
890            NaN

[891 rows x 10 columns]
     PassengerId  Pclass  Sex  Age  Fare  Embarked  Title  IsAlone  Age*Class  \
0            892       3    0    2     0         1    1.0        1          6
1            893       3    1    2     0         2    3.0        0          6
2            894       2    0    3     1         1    1.0        1          6
3            895       3    0    1     1         2    1.0        1          3
4            896       3    1    1     1         2    3.0        0          3
5            897       3    0    0     1         2    1.0        1          0
6            898       3    1    1     0         1    2.0        1          3
7            899       2    0    1     2         2    1.0        0          2
8            900       3    1    1     0         0    3.0        1          3
9            901       3    0    1     2         2    1.0        0          3
10           902       3    0    1     0         2    1.0        1          3
11           903       1    0    2     2         2    1.0        1          2
12           904       1    1    1     3         2    3.0        0          1
13           905       2    0    3     2         2    1.0        0          6
14           906       1    1    2     3         2    3.0        0          2
15           907       2    1    1     2         0    3.0        0          2
16           908       2    0    2     1         1    1.0        1          4
17           909       3    0    1     0         0    1.0        1          3
18           910       3    1    1     1         2    2.0        0          3
19           911       3    1    2     0         0    3.0        1          6
20           912       1    0    3     3         0    1.0        0          3
21           913       3    0    0     0         2    4.0        0          0
22           914       1    1    2     3         2    3.0        1          2
23           915       1    0    1     3         0    1.0        0          1
24           916       1    1    2     3         0    3.0        0          2
25           917       3    0    3     2         2    1.0        0          9
26           918       1    1    1     3         0    2.0        0          1
27           919       3    0    1     0         0    1.0        1          3
28           920       1    0    2     2         2    1.0        1          2
29           921       3    0    1     2         0    1.0        0          3
..           ...     ...  ...  ...   ...       ...    ...      ...        ...
388         1280       3    0    1     0         1    1.0        1          3
389         1281       3    0    0     2         2    4.0        0          0
390         1282       1    0    1     3         2    1.0        1          1
391         1283       1    1    3     3         2    3.0        0          3
392         1284       3    0    0     2         2    4.0        0          0
393         1285       2    0    2     1         2    1.0        1          4
394         1286       3    0    1     2         2    1.0        0          3
395         1287       1    1    1     3         2    3.0        0          1
396         1288       3    0    1     0         1    1.0        1          3
397         1289       1    1    2     3         0    3.0        0          2
398         1290       3    0    1     0         2    1.0        1          3
399         1291       3    0    1     0         1    1.0        1          3
400         1292       1    1    1     3         2    2.0        1          1
401         1293       2    0    2     2         2    1.0        0          4
402         1294       1    1    1     3         0    2.0        0          1
403         1295       1    0    1     3         2    1.0        1          1
404         1296       1    0    2     2         0    1.0        0          2
405         1297       2    0    1     1         0    1.0        1          2
406         1298       2    0    1     1         2    1.0        0          2
407         1299       1    0    3     3         0    1.0        0          3
408         1300       3    1    1     0         1    2.0        1          3
409         1301       3    1    0     1         2    2.0        0          0
410         1302       3    1    1     0         1    2.0        1          3
411         1303       1    1    2     3         1    3.0        0          2
412         1304       3    1    1     0         2    2.0        1          3
413         1305       3    0    1     1         2    1.0        1          3
414         1306       1    1    2     3         0    0.0        1          2
415         1307       3    0    2     0         2    1.0        1          6
416         1308       3    0    1     1         2    1.0        1          3
417         1309       3    0    1     2         0    4.0        0          3

     test_survived
0         0.106155
1         0.268710
2         0.104148
3         0.118980
4         0.310645
5         0.112444
6         0.604438
7         0.063813
8         0.826030
9         0.060360
10        0.114574
11        0.280944
12        0.982090
13        0.048752
14        0.977139
15        0.963687
16        0.107146
17        0.104858
18        0.308422
19        0.651202
20        0.354439
21        0.384415
22        0.958869
23        0.531737
24        0.987568
25        0.052896
26        0.990715
27        0.104858
28        0.280944
29        0.058589
..             ...
388       0.107051
389       0.371966
390       0.363594
391       0.971233
392       0.371966
393       0.108309
394       0.060360
395       0.982090
396       0.107051
397       0.987568
398       0.114574
399       0.107051
400       0.963514
401       0.052226
402       0.990715
403       0.363594
404       0.431560
405       0.175645
406       0.061716
407       0.354439
408       0.604438
409       0.481472
410       0.604438
411       0.983082
412       0.495471
413       0.118980
414       0.962541
415       0.107667
416       0.118980
417       0.390700

[418 rows x 10 columns]

In [0]:
series = []
for val in newdataset.test_survived:
    if val >= 0.5:
        series.append(1)
    else:
        series.append(0)
newdataset['final'] = series

In [41]:
test_df.head()

,PassengerId,Pclass,Sex,Age,Fare,Embarked,Title,IsAlone,Age*Class,test_survived,final
0,892,3,0,2,0,1,1.0,1,6,0.106155,0
1,893,3,1,2,0,2,3.0,0,6,0.268710,0
2,894,2,0,3,1,1,1.0,1,6,0.104148,0
3,895,3,0,1,1,2,1.0,1,3,0.118980,0
4,896,3,1,1,1,2,3.0,0,3,0.310645,0

In [45]:
submission_file = pd.DataFrame(data = {'PassengerId': test_df.PassengerId, 'survived': test_df.final})
print(submission_file)

     PassengerId  survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         0
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         0
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         0
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [0]:
submission_file.to_csv('my_submission.csv', index=False)

In [0]:
from google.colab import files

files.download('my_submission.csv')